@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Cinzel&family=Monoton&family=Smokum&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    background-color: black;
    transition-duration: 0.5s;
    user-select: none;
}
html:hover {
    color: white;
    background-color: #fff016;
}
html:hover .timer-wrap{
    opacity: 1;
}
html:hover .text-color{
    color: #0FF231;
}
html:hover .timer-wrap{
    background-color: #1F2526;
}
html:hover .time-object{
    opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input{
    color: gold;
    background-color: #0139c7;
    border-bottom: #17ceff;
    border-width: 2px;
    border-radius: 5px;
    min-width: 100px;
    max-width: 200px;
    transition-duration: 0.5s;
}
input:focus-within{
    outline: 0;
    border-bottom: #8a6343;
}
img{
    height: 20px;
    width: 20px;
}
::placeholder{
    color: gold;
    margin-left: 15px;
}
button{
    clip-path: polygon(calc(100% - 5px) 100%,0 100%,0 5px,5px 0,100% 0,100% calc(100% - 5px));
}
.wrap-button{
    margin-left: 10px;
    margin-bottom: 3px;
}
.wrapper{
    margin-top: 30vh;
}
.label-color{
    color: white;
    font-family: 'Averia Serif Libre', cursive;
}
.stick-icon{
    position: absolute;
}
.div-input{
    margin-bottom: 5px;
}
.timer-wrap{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 33px;
    min-width: 50vw;
    z-index: 2;
    clip-path: polygon(5px 0,100% 0,100% calc(100% - 5px), calc(100% - 5px) 100%,0 100%,0 5px);
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    align-items: flex-end;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-color{
    color: white;
    animation-duration: 0.5ms;
}
.timer-text{
    font-family: 'Monoton', cursive;
    font-size: 8.5vw;
    z-index: 2;
}
.time-object{
    display: flex;
    color: #808080;
    opacity: 0;
    width: 45vw;
    font-family: 'Smokum', cursive;
    font-size: 5vw;
    flex-wrap: wrap;
    justify-content:space-around;
}
.claw{
    position: absolute;
    background-color: red;
    z-index: 1;
}
.claw:nth-child(2){
    left: 75vmin;
    top: 29vmin;
    min-width: 2vw;
    min-height: 20vh;
    transform: rotate(349deg) skewY(74deg);
}
.claw:nth-child(3){
    left: 83vmin;
    top: 29vmin;
    min-width: 2vw;
    min-height: 17vh;
    transform: rotate(354deg) skewY(289deg) skewX(1deg);
}
.claw:nth-child(4){
    left: 91vmin;
    top: 28vmin;
    min-width: 2vw;
    min-height: 16vh;
    transform: rotate(6deg) skewY(283deg);
}
.claw:nth-child(5){
    left: 98vmin;
    top: 29vmin;
    min-width: 2vw;
    min-height: 19vh;
    transform: rotate(30deg) skewY(74deg);
}
